
<% if user_signed_in? %>
  <div id="wrapper">
    <%= render 'layouts/shared/navigations/sidebar' %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
  <%= render 'layouts/shared/navigations/topbar' %>        
     
    </div>
  </div>
</div>
<% else %>
  <%= render 'pages/home' %>
<% end %>

<div id="wrapper">
  <%= render 'layouts/shared/navigations/sidebar' %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
  <%= render 'layouts/shared/navigations/topbar' %>        
     
    </div>
  </div>
</div>