<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @property.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @property.zipcode %>
</p>

<p>
  <strong>Unit count:</strong>
  <%= @property.unit_count %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @property.year_built %>
</p>

<p>
  <strong>Ae flood zone:</strong>
  <%= @property.ae_flood_zone %>
</p>

<p>
  <strong>Msa:</strong>
  <%= @property.msa %>
</p>

<p>
  <strong>Submarket:</strong>
  <%= @property.submarket %>
</p>

<p>
  <strong>Broker:</strong>
  <%= @property.broker %>
</p>

<p>
  <strong>Analysis year:</strong>
  <%= @property.analysis_year %>
</p>

<p>
  <strong>Asking price:</strong>
  <%= @property.asking_price %>
</p>

<p>
  <strong>Price per unit:</strong>
  <%= @property.price_per_unit %>
</p>

<p>
  <strong>Offer price:</strong>
  <%= @property.offer_price %>
</p>

<p>
  <strong>Sales price:</strong>
  <%= @property.sales_price %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @property.notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @property.status %>
</p>

<p>
  <strong>Fka:</strong>
  <%= @property.fka %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
